<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="index.jpg" alt="" width="72" height="72">
            <h2>NotDecided Corp.</h2>
            <p class="lead"></p>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Place Order</h4>
                <form class="needs-validation" novalidate="" action = "http://localhost:5656/order" method = "post">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Raw ID</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" name="RawID" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Product Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" name="ProducName" required="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username">Category</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username" required="" name ="Category" placeholder="Category">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Price<span class="text-muted">(Per Unit)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="" name="Price" id="Price">
                    </div>
                    <div class="mb-3">
                        <label for="address">Quantity</label>
                        <input type="text" class="form-control" id="address" required="" name="Quantity" placeholder="">
                    </div>
                    <hr class="mb-4">
                    <hr class="mb-4">
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
                </form>
            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2019 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>
</body>

</html>