<html>
    <head>
      <title>Inventory</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
      <style>
          body {
              background: #0C0A1E;
              color: #fff;
          }
      </style>
    </head>
    <body class="bg-dark text-light">
      <div class="container">
            <div class="py-5 text-center">
              <img class="d-block mx-auto mb-4" src="static/logo.png" alt="" width="72" height="72">
              <h2>NotDecided Corp.</h2>
              <p class="lead"></p>
            </div>
            
            <div class="row">
              
              <div class="col-md-8">
                {% if error %}
                  {% if error == 'Values Inserted'%}
                    <p style="background:green; height:40px; padding: 10px;"><strong>Value Succesfully Inserted</strong></p>
                  {% else %}
                    <p style="background:red; height:40px; padding: 10px;"><strong>Error:</strong> {{ error }}
                  {% endif %}
                {% endif %}
                <h4 class="mb-3">Add Inventory</h4>
                <form class="needs-validation" novalidate="" action = "http://localhost:5656/inventory" method = "post">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="firstName">Raw ID</label>
                      <input name="RawID" type="text" class="form-control" id="RawID" placeholder="" value="" required="">
                      
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="lastName">Product Name</label>
                      <input type="text" class="form-control" name="ProductName" id="ProductName" placeholder="" value="" required="">
                      
                    </div>
                  </div>
          
                  <div class="mb-3">
                      <label for="username">Category</label>  
                      <input type="text" class="form-control" id="Category" name="Category" required="">
                  </div>
                  
                  <div class="mb-3">
                    <label for="username">Description</label>  
                    <input type="text" class="form-control" id="Description" name="Desc" required="">
                  </div>
                  <div class="mb-3">
                    <label for="email">Price<span class="text-muted">(Per Unit)</span></label>
                    <input type="email" class="form-control" id="Price" name="Price" placeholder="">
                    
                  </div>
          
                  <div class="mb-3">
                    <label for="address">Quantity</label>
                    <input type="text" class="form-control" id="Quantity" name="Quantity" required="" placeholder="">
                    
                  </div>
                  <div class="mb-3">
                    <label for="address">In time<span class="text-muted">(HH:MM:SS)</span></label>
                    <input type="text" class="form-control" id="InTime" name="InTime" required="" placeholder="">
                    
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Add Inventory</button>
                </form>
              </div>
              <div class="col-md-4">
                <table border="1" cellpadding="5" cellspacing="5" style="margin:50% 50px">
                  <tr>
                    <th>Raw Id</th>
                    <th>Name</th> 
                    <th>Category</th>
                    <th>Price</th>
                    <th>Intime</th>
                    <th>Outtime</th>
                    <th>Quantity</th>
                  </tr>
                  {% for row in data %}
                      <tr>
                      {% for d in row %}
                          <td>{{ d }}</td>
                      {% endfor %}
                      </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- <div class="col-md-4 mx-auto">
                <img src="static/wrench.svg" class="mx-auto"  style="padding-top:20vh;padding-left:3vw;"/>
              </div> -->
            </div>
            
            <footer class="my-5 pt-5 text-muted text-center text-small">
              <p class="mb-1">© 2017-2019 Company Name</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
              </ul>
            </footer>
          </div>

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
                  <script src="form-validation.js"></script>
          
          
    </body>
</html>
   